:root {
    --cor-branca: #FFFFFF;
    --cor-preta: rgb(24, 24, 24);
    --second-cor-text: #5C5C5C;
    --texto-light: #FFFFFF;
    --roxinho: #4452FE;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-branca);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cor-preta);
}
.Desktop_HEADER_05 {
    width: 100%;
}

.navbardesktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1097px;
    height: 119px;
    margin: 0 auto;
}

.logo-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 78px;
    padding: 10px;
    gap: 10px;
}

.logo-dark > img {
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 393px;
    height: 44px;
    gap: 10px;
}

.menu > a {

    text-decoration: none;
}

.btn-login > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
    height: 52px;
    padding: 20px, 36px, 20px, 36px;
    border: 1px solid var(--cor-branca);
}

.Desktop_HEADER_05 > h2 {
    width: 709px;
    height: 176px;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    padding: 10px;
    gap: 10px;
    margin: 50px auto 27px auto;
}

.Desktop_HEADER_05 > p {
    Width: 582px;
    Height: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--texto-light);
    margin: 0 auto 95px auto;
}

.caixa-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 387px;
    height: 65px;
    gap: 35px;
    margin: 0 auto 35px auto;
}

.btn1 {
    padding: 10px 30px 10px 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    background-color: var(--roxinho);
}
.btn2 {
    padding: 10px 30px 10px 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    border: 1px solid var(--cor-branca);
    color: var(--cor-branca);
}

.gradiente-img {
    width: 100%;
    height: 100%;
    position: relative;  
    background-color: var(--cor-preta); 

}


.gradiente-img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    
}
.caixa-imgsec1 {
    display: flex;
    justify-content: center;
    min-width: 100%;
    max-width: 1350px;
    min-height: 641px;
    margin: 0 auto;
    background-image: url(assets/imagemsection1.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;


}

.FEATURE {
display: flex;
flex-direction: column;
align-items: center;
}

.FEATURE > h2 {

    width: 251px;
    height: 62px;
    margin: 162px auto 27px auto;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.FEATURE > p {
    width: 582px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--texto-light);
}

.conteiner-img-text {
    display: flex;
    align-items: center;
    max-width: 1088px;
    width: 100%;
    gap: 27px;
    margin-top: 80px;
}

.img-desktop {
    display: block;
}

.img-mobile {
    display: none;
}

.conteiner-img {
    width: 70%;
}


.conteiner-img > img {

    width: 100%;
}

.conteiner-text {
    display: flex;
    width: 30%;
    gap: 25px;
}


.text-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.text-lista > h3 {
    width: 173px;
    height: 80px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.text-lista > p {

    width: 240px;
    height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--texto-light);


}

.CONTENTS {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

.CONTENTS > h2 {

    margin: 162px auto 27px auto;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.CONTENTS > p {
    width: 582px;
    height: 60px;
    margin: 0 auto 54px auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--texto-light);
}

.conteiner-cards {
    width: 100%;
    max-width: 985px;
    height: 624.52px;
    gap: 33px;
    display: flex;
    justify-content: center;   
    margin: 0 auto;

}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 624.52px;
    padding: 40px 0px 40px 0px;
    border-radius: 10px;
    background-color: var(--cor-branca);
}


.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 624.52px;
    padding: 40px 0px 40px 0px;
    border-radius: 10px;
    background-color: var(--cor-branca);

}

.conteiner-cards > div > h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: var(--cor-preta);
    margin: 20px auto 20px auto;
    }

.conteiner-cards > div > p {
    max-width: 268px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--second-cor-text);
    }

.card1 > a {
    margin: 57px auto;
    padding: 13px 36px;
    background-color: var(--roxinho);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;        
}

.card2 > a {
    margin: 0px auto;
    padding: 13px 36px;
    background-color: var(--roxinho);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;        
}


.box-img-borads {
    width: 100%;
    border-radius: 14px;    
    padding: 0px 20px;
}

.box-img-borads > img {
    width: 100%;   
}

.GALLERY {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1087px;
    margin: 0 auto;
    }
    
.GALLERY > h2 {

    margin: 162px auto 27px auto;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.GALLERY > p {
    width: 582px;
    height: 60px;
    margin: 0 auto 54px auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--texto-light);
}

.conteiner-fotos {
    display: flex;
    max-width: 1087px;
    justify-content: space-around;
}

.conteiner-fotos2 {
    display: flex;
    max-width: 1087px;
    justify-content: space-around;
}

.galeria1 {
    max-width: 1087px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 33px;
    padding: 20px;
}

.galeria1-mobile {
    max-width: 1087px;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 33px;
    padding: 20px;
}


.galeria {
    width: 220px;
    height: 285px;
    border-radius: 12px;
}

.galeria > img {
    width: 100%;
    border-radius: 12px;
    object-fit: fill;
    object-position: center;
}

.galeriald {
    width: 378px;
    height: 285px;
    border-radius: 12px;
}

.galeriald > img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.GALLERY > a {
    margin: 44px auto 0 auto;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    border: 1px solid var(--cor-branca);
}

.PARTNERS {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1087px;
    margin: 0 auto;
    }
    
.PARTNERS > h2 {

    margin: 200px auto 27px auto;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.PARTNERS > p {
    width: 591px;
    height: 60px;
    margin: 0 auto 0px auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--texto-light);
}


.conteiner-logos {
    width: 100%;
    height: 70.55px;
    gap: 70px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.PARTNERS > a {
    margin: 0px auto 0 auto;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    border: 1px solid var(--cor-branca);
}

.TESTIMONIALS {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1087px;
    margin: 0 auto;
    }
    
.TESTIMONIALS > h2 {

    margin: 200px auto 50px auto;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.conteiner-testimonials {

    width: 95%;
    max-width: 883px;
    height: 652px;
    gap: 23px;
    margin: 0 auto;
    display: flex;
}

.conteiner-testimonial1{
    width: 100%;
    gap: 20px;


}

.conteiner-testimonial2{
    width: 100%;
    height: 628px;

}

.avatartext {

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-testimonial0 {

    border: 1px solid var(--cor-branca);
    width: 100%;
    height: 328px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 30px;
}

.card-testimonial0 > p {
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.card-testimonial1 {

    border: 1px solid var(--cor-branca);
    width: 100%;
    height: 304px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 30px;
}

.card-testimonial1 > p {
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.avatartitulo {
    gap: 13px;
    display: flex;
}

.conteiner-open {
    margin: 230px auto;
    display: flex;
    max-width: 1243px;
    height: 370px;
    border-radius: 33px;
    align-items: center;
    background-color: #343434;
    width: 100%;
}

.conteiner1-open {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 94px;
    width: 100%;
    

}

.conteiner1-open > h2 {
    max-width: 479px;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.conteiner1-open > a {
    background-color: var(--roxinho);
    padding: 20px 36px;
    width: 232px;
    text-align: center;
    margin: 20px 0 ;
}

.conteiner2-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 340px;
    align-items: end;
    position: relative;
}   

.conteiner2-open > img {
    width: 100%;
    min-height: 364px;
    border-radius: 0 0 33px;
    position: absolute;
    bottom: -15px;
}

.opendesktopimg {
    display: block;
}

.openmobileimg {
    display: none;
}

footer {

}
.conteiner-footer {
    max-width: 1031px;
    height: 223px;
    margin: 107px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.colunas-footer {
    display: flex;
    flex-direction: row;
    width: 513px;
    height: 223px;
    gap: 40px 75px;
}

.colunas-lista {
    display: flex;
    flex-direction: column;
    width: 121px;
    height:223px;
    gap: 19px;
    list-style: none;
}

.colunas-lista > h3 {

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-bottom: 20px;
    
}

.rows-footer {
    display: flex;
    flex-direction: column;
    width: 319px;
    height: 190.99px;
    gap: 15px;


}

.footerflex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-logo {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 10px;
}

@media (max-width: 800px) {


    body{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbardesktop{
        display: none;
    }

    .Desktop_HEADER_05 > h2 {
        width: 294px;
        height: 176px;
        font-size: 52px;
        font-weight: 400;
        line-height: 62px;        
    }

    .Desktop_HEADER_05 > p {
        
        width: 70%;
        max-width: 332px;
        height: 120px;
        font-size: 20px;
        margin: 40px auto 95px auto;
    }

    .caixa-btn {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto 80px auto;
    }

    .caixa-imgsec1 {
    min-height: 502px;
    background-size: cover;

    }

    .img-desktop {
    display: none;
    }

    .img-mobile {
        display: block;
    }


    .FEATURE > p {
        width: 90%;
        height: 90px;
    }

    .conteiner-img-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteiner-text {
        display: flex;
        justify-content: center;

    }

    .text-lista > h3 {
        width: 153;
        height: 60px;
        display: flex;
        align-items: center;

    }

    .text-lista > p {
        width: 269px;
        height: 116px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }

    .CONTENTS > p {
        width: 288px;
        height: 90px;
    }

    .conteiner-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .card1 {
        width: 80%;
        height: 520px;
        padding: 10px 0px 0px 0px;
    }


    .card2 {
        box-sizing: content-box;
        width: 80%;
        height: 520px;
        padding: 10px 0px 20px 0px;
    }

    .conteiner-cards > div > h3 {
        width: 129px;
    }

    .card2 > a {
        margin: 30px auto;
    }   

    .card1 > div > img {
        width: 90%;
    }

    .GALLERY > p {
        width: 70%;
        height: 90px;
    }

    .conteiner-fotos2 {
        display: none;
    }
    
    .galeria1 {
        max-width: 100%;
        display: none;
        justify-content: center;
    }

    .galeria1-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
    }
    
    .galeria {
        width: 100%;
        max-width: 325px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        height: 273px;
    }

    .GALLERY > a {
        margin: 50px auto 0 auto;
    }

    
    .PARTNERS > p {
        width: 329px;
        height: 90px;
        margin: 0 auto 0px auto;
    }
    
    .conteiner-logos {
        width: 320px;
        height: auto;
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .ibm {
        width: 83px;
        height: 33px;
    }
    
    
    .conteiner-testimonials {
        height: auto;
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .conteiner-testimonial1{
        width: 352px;
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .conteiner-testimonial2{
        width: 352px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .card-testimonial0 {
        height: auto;
    }
    
    .card-testimonial1 {
        height: auto;
    }

    .OPENTYPE {
        width: 100%;
    }

    .conteiner-open {
        margin: 151px auto;
        display: flex;
        flex-direction: column;
        max-width: 1243px;
        height: auto;
        border-radius: 0px;
        align-items: center;
        background-color: #1E1E1E;
    }
    
    .conteiner1-open {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 0px;
    }
    
    .conteiner1-open > h2 {
        width: 336px;
        text-align: center;
        margin-top: 104px;
    }
    
    .conteiner1-open > a {
        margin: 37px auto 60px auto;
    }
    
    .conteiner2-open {
        height: auto;
        position: initial;
    }   
    
    .conteiner2-open > img {
        border-radius: 0 0 0px;
        position: initial;
        bottom: -15px;
    }

    .opendesktopimg {
        display: none;
    }
    
    .openmobileimg {
        display: block;
    }
    
    footer {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .conteiner-footer {
        max-width: 319px;
        height: auto;
        margin: 107px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .colunas-footer {
        display: flex;
        flex-direction: column;
        width: 319px;
        height: auto;
        gap: 40px 75px;

    }
    
    .colunas-lista {
        display: flex;
        flex-direction: column;
        width: 121px;
        height:223px;
        gap: 19px;
        list-style: none;

    }
    
    .colunas-lista > h3 {
    
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
        margin-bottom: 20px;
        
    }
    
    .rows-footer {
        display: flex;
        flex-direction: column;
        width: 319px;
        height: 190.99px;
        gap: 15px;
        margin-top: 86px;
    }
    
    .footerflex {
        display: flex;
        align-items: center;
        gap: 10px;

    }
    
    .flex-logo {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 10px;
    }
    
    
}